.aboutPicture {
  height: 15rem;
  border-radius: 50%;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.about {
  width: 100%;
  overflow: hidden;
}
.aboutUs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10vh auto;
}

.logo {
  height: 3rem;
}

.guillaume,
.marie,
.ulysse {
  width: 30%;
}

.aboutPicture {
  display: flex;
}

.aboutText,
.aboutLink {
  text-align: center;
}

.aboutName {
  width: 100%;
  text-align: center;
}

.textProject {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4vh;
}

.aboutLink {
  align-items: end;
}
