* {
  margin: 0;
}

.footer {
  width: 100vw;
  height: 4vh;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.header {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0px;
  text-align: center;
}

.header img {
  width: 10%;
}

.sidebarClosed {
  height: 12vh;
  width: 14vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  margin-left: -13vw;
  transition: margin-left 300ms ease;
  z-index: 3;
  border-radius: 8px;
}

.sidebarOpen {
  height: 12vh;
  width: 14vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  transition: margin-left 300ms ease;
  z-index: 3;
  border-radius: 8px;
}

.sidebarClosed button {
  width: 2vw;
  height: 6vh;
  margin-left: 14vw;
  background-color: rgba(240, 248, 255, 0);
  background-image: url("./assets/arrow_right.png");
  background-size: cover;
  z-index: 3;
}

.sidebarOpen button {
  width: 2vw;
  margin-left: 14vw;
  height: 6vh;
  background-color: rgba(240, 248, 255, 0);
  background-size: cover;
  background-image: url("./assets/arrow_left.png");
  z-index: 3;
}

.sidebarOpen button:hover {
  background-color: #54fff7;
}
.sidebarClosed button:hover {
  background-color: #54fff7;
}

/* .sidebar button:hover {
  border-color: #f5e1ff;
} */

.sidebarFlex {
  height: 5vh;
  display: flex;
  flex-direction: column;
}

.sidebarFlex a {
  margin-top: 2vh;
  margin-left: 1vw;
  font-size: 1.1rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #54fff7;
  font-weight: 700;
}
/*=========roleSelection==========*/

.roleSelection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 7%;
  flex-wrap: wrap;
  text-align: center;
}
.roleCard:hover {
  transform: rotateY(180deg);
}
.roleCard {
  width: 20vw;
  height: 35vh;
  margin-right: 2.5vw;
  margin-bottom: 4.5vw;
  background-color: #0015;
  transition: transform 0.999s;
  transform-style: preserve-3d;
  border-radius: 30px;
}

.roleCardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.roleCardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}
.roleCard input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  
}
.roleCardFront > img {
  width: 100%;
  border-radius: 20px;
}

.roleName {
  color: antiquewhite;
}

.roleDescription {
  color: antiquewhite;
  padding: 7%;
}
.roleCardBack input:checked {
  border-color: #03a9f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #03a9f4;
}

/*=========abilitiesSelection==========*/
.abilitiesSelection {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0%;
}
.abilitiesSelection ul {
  width: 2vw;

}
.abilitiesCard {
  height: 25vh;
  width: 20vw;
  color: white;
  margin: 1%;
  
  
}
.abilitiesCard h2 {
  height: 4vh;
  width: 20vw;
  color: white;
  margin: 1%;
}

.quote { 
  margin: 10%;
}


input[type="checkbox"] {
  position: relative;
  top: 8px;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  transition: 0.5s;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #262626;
  box-sizing: border-box;
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  border-left: none;
  border-top: none;
  width: 20px;
  border-color: rgb(24, 196, 24);
  transform: rotate(45deg) translate(5px, -10px);
}