.details {
  text-align: justify;
  width: 38vw;
  padding: 2vw;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
}

.abilitiesContainer {
  width: 40vw;
  height: 40vh;
}

.inventoryContainer {
  width: 80vw;
  height: 40vh;
  display: flex;
}

.cadre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  margin: 10vw;
}

.leftSide {
  display: flex;
}

.headDetails {
  display: flex;
}

.headDetails button {
  background-color: #54fff7;
  border-radius: 6px;
  box-shadow: white;
  color: black;
  cursor: pointer;
  height: 3vh;
  padding: 0.1vw;
  text-align: center;
  width: 4vw;
  border: 0;
  transition: box-shadow 0.2s;
  margin-left: 2vw;
}

.editable {
  font-size: 1rem;
  font-weight: 500;
  width: 12vw;
  line-height: 1.4;
  display: inline-block;
  color: #54fff7;
  padding: 0.2%;
  margin: 0.2%;
  border-radius: 6px;
  border-bottom: solid 1px white;
}

.editable:hover {
  background-color: #344140;
  color: #bebec4;
}
