.footer {
  width: 100vw;
  height: 4vh;
  background-color: white;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 0px;
  text-align: center;
}

.header img {
  width: 10%;
}

.sidebarClosed {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  border: solid 1px white;
  margin-left: -16vw;
  transition: margin-left 300ms ease;
}

.sidebarOpen {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  border: solid 1px white;
  transition: margin-left 300ms ease;
}

.sidebarClosed button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
}

.sidebarOpen button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
}

.sidebar button:hover {
  border-color: #f5e1ff;
}

.sidebarFlex {
  display: flex;
  flex-direction: column;
}

.sidebarFlex a {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 1.1rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f5e1ff;
}
/*===================================*/

.role-selection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 7%;
  flex-wrap: wrap;
  text-align: center;
}
.role-card:hover {
  transform: rotateY(180deg);
}
.role-card {
  width: 20vw;
  height: 20vh;
  margin-right: 2.5vw;
  margin-bottom: 10vw;
  background-color: #0015;
  transition: transform 0.999s;
  transform-style: preserve-3d;
  border-radius: 30px;
}

.role-card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.role-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.role-card-front > img {
  width: 75%;
}

.role-name {
  color: antiquewhite;
}

.role-description {
  color: antiquewhite;
}
