.footer {
  width: 100vw;
  height: 5vh;
  background-color: white;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 0px;
  text-align: center;
}

.header img {
  width: 10%;
}

.sidebarClosed {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  border: solid 1px white;
  margin-left: -16vw;
  transition: margin-left 300ms ease;
}

.sidebarOpen {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  border: solid 1px white;
  transition: margin-left 300ms ease;
}

.sidebarClosed button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
}

.sidebarOpen button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
}

.sidebar button:hover {
  border-color: #f5e1ff;
}

.sidebarFlex {
  display: flex;
  flex-direction: column;
}

.sidebarFlex a {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 1.1rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f5e1ff;
}
