* {
  margin: 0;
}

.footer {
  width: 100vw;
  height: 4vh;
  background-color: white;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.header {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0px;
  text-align: center;
}

.header img {
  width: 10%;
}

.sidebarClosed {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  margin-left: -16vw;
  transition: margin-left 300ms ease;
  z-index: 3;
}

.sidebarOpen {
  height: 12vh;
  width: 16vw;
  background-color: #001514;
  position: absolute;
  top: 16vh;
  transition: margin-left 300ms ease;
  z-index: 3;
}

.sidebarClosed button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
  order: solid 1px white;
  z-index: 3;
}

.sidebarOpen button {
  width: 2vw;
  margin-left: 16vw;
  background-color: #001514;
  border: solid 1px white;
  z-index: 3;
}

.sidebar button:hover {
  border-color: #f5e1ff;
}

.sidebarFlex {
  display: flex;
  flex-direction: column;
}

.sidebarFlex a {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 1.1rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f5e1ff;
}
/*=========roleSelection==========*/

.roleSelection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 7%;
  flex-wrap: wrap;
  text-align: center;
}
.roleCard:hover {
  transform: rotateY(180deg);
}
.roleCard {
  width: 20vw;
  height: 35vh;
  margin-right: 2.5vw;
  margin-bottom: 2.5vw;
  background-color: #0015;
  transition: transform 0.999s;
  transform-style: preserve-3d;
  border-radius: 30px;
}

.roleCardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.roleCardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}
.roleCard input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.roleCardFront > img {
  width: 100%;
  border-radius: 20px;
}

.roleName {
  color: antiquewhite;
}

.roleDescription {
  color: antiquewhite;
  padding: 7%;
}

/*=========abilitiesSelection==========*/

.abilitiesCard {
  color: white;
}
